/********** Template CSSprimary hero-header **********/
:root {
    --primary: #38286A;/****#4AC4F3*****/
    --light: #dad2f3;;
    --dark: #1b1629;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}



/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}
.link_text{
    color: #858585
}


/*** Button ***/
.btn {
    transition: .5s;
    position: relative;
    overflow: hidden;
}
.back-to-top-btn{
    transition: .5s;
    overflow: hidden;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn.btn-primary {
    color: var(--light);
}

.btn.btn-light {
    color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-weight: 500;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--light);
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background: #FFFFFF;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .sticky-top.navbar .btn {
        color: var(--light);
        background: var(--primary);
        border-color: var(--primary);
    }
}


.hero-header {
    margin-bottom: 3rem;
    padding: 9rem 0;
    background-image: url('./img/TTS dataset-BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
}

.hero-logo {
    width: 50%;
    max-width: 500px; /* Adjust as needed */
    margin-right: 20px; /* Space between logo and text */
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-logo {
        width: 80%;
        margin: 0 auto 20px; /* Center the logo */
    }
}




/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 3rem;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #858585;
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: #858585;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}
.cite {
    font-size: 0.7em;
    padding: 1em 1.25em;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    font-family: monospace;
    white-space: pre-wrap;
  }

  .vertical-menu {
    width: 95%;
    max-width: 700px;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    margin: auto;
    list-style-type: none;
    padding: 0;
}

.vertical-menu .download-item {
    background-color: #eee;
    color: black;
    display: flex;
    align-items: left;
    padding: 12px;
}

.vertical-menu .download-item:hover {
    background-color: var(--primary);
    color: white;
}



.progress-bar {
    width: 0;
    height: 5px;
    background-color: rgb(77, 3, 80);
    transition: width 2s;
    border-radius: 5px;
    margin-top: 5px;
}


.progress-bar-line-container {
    flex-basis: 30%; /* Adjust this value as needed */
    margin-left: 10px;
}

.progress-bar-line {
    width: 0;
    height: 20px;
    background-color: rgb(77, 3, 80);
    transition: width 0.5s ease-in-out;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.download-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out items */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional: for visual separation of items */
}

.download-item a {
    flex-grow: 1; /* Allows the filename to take up available space */
    margin-right: 10px; /* Space between filename and progress bar */
}
  
.container, .row {
    margin: 0;
    padding: 0;
}
